*.o
avarice
Makefile
autoconf.h
config.log
config.status
Makefile.in
autom4te.cache/
config-aux/config.guess
config-aux/config.sub
aclocal.m4
avarice.spec
config-aux/depcomp
config-aux/install-sh
config-aux/missing
configure
doc/Makefile.in
scripts/Makefile.in
scripts/ice-gdb

